
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>EJERCICIOS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="/ejercicio1"><ion-button>EJERCICIO 1</ion-button></a>
    <a href="/ejercicio2"><ion-button>EJERCICIO 2</ion-button></a>
    <a href="/ejercicio3"><ion-button>EJERCICIO 3</ion-button></a>
    <a href="/ejercicio4"><ion-button>EJERCICIO 4</ion-button></a>
    <a href="/ejercicio5"><ion-button>EJERCICIO 5</ion-button></a>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>EJERCICIO 5</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" size-lg="4">
          <img src="../../assets/91rIiWcvS7L.__AC_SX300_SY300_QL70_FMwebp_.webp" alt="Imagen del producto">
        </ion-col>
        <ion-col size="6" size-sm="6" size-lg="12">
          <h2>SkyTech Chronos Mini</h2>
        </ion-col>
        <ion-col size="6" size-sm="6" size-lg="12">
          <p>Computadora de escritorio para videojuegos - Intel Core-i3 10100F 3.6GHz, GTX 1650 4G, 500GB SSD, 8G 3000, ventiladores RGB, AC WiFi, Windows 10 Home 64-bit</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>